@use '../../styles/global.scss' as *;
@use '../../styles/mixins.scss' as *;
@use "sass:map";

.mobile-list {
    @include tablet {
        display: none;
    }
}

.desktop-list {
    display: none;
    @include tablet {
        display: block;
    }
}