@use '../../styles/global.scss' as *;
@use '../../styles/mixins.scss' as *;
@use "sass:map";

.inventory__details {
    background-color: $IS-white;
    display: flex;
    flex-direction: column;
    margin: -3rem 1rem 1rem;
    border-radius: 4px;
    @include tablet{
        margin: -4.75rem 2rem 1rem;
    }
    @include desktop {
        margin: -4.75rem 6rem 1rem;
    }
    &--header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px $IS-cloud;
        padding: 1rem;
        @include tablet {
            padding: 1rem 2rem;
        }
        &--title {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            p {
                font-size: map.get($text-size,h1);
                font-weight: 600;
                @include tablet {
                    font-size: 32px;
                }
            }
        }
        &--button--edit {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 4px;
            background-color: $IS-indigo;
            color:$IS-white;
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 20px;
            cursor:pointer;
            a {
                display: flex;
            }
            img {
                width: 1rem;
                height: auto;
            }
            p {
                display: none;
            }
            &:hover {
                background-color: $IS-graphite;
            }
            @include tablet {
                width: auto;
                padding: 0 1rem;
                p {
                    display: block;
                    color: $IS-white;
                }
            }
        }
        
    }
    &--detail{
        padding-bottom:16px;
        @include tablet {
            padding-bottom:24px;
        }
    }
    &--info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: solid 1px $IS-cloud;
        padding: 1rem;
        column-gap: 16px;
        @include tablet {
            padding: 1rem 2rem;
            flex-direction: row;
            justify-content: flex-start;
            column-gap:24px;
        }
        &--left{
            @include tablet {
                width: 45%;
            }
        }
        &--right{
            display:flex;
            @include tablet {
                border-left: solid 1px $IS-cloud;
                padding-left:24px;
                width: 45%;
            }
            
        
            &--1 {
                display: flex;
                flex-direction: column;
                padding-bottom: 2rem;
                width: 45%;
                @include tablet {
                    
                    width: 45%;
                    flex-direction: column;
                }
            }
            &--2 {
                display: flex;
                flex-direction: column;
                width: 45%;
                @include tablet {
                    padding-left: 2rem;
                    flex-grow: 1;
                    justify-content: flex-start;
                    column-gap: 3rem;
                }
                @include desktop {
                    column-gap: 6rem;
                }
            }
        }
    }
    &--heading {
        font-size: map.get($text-size,p3);
        color: $IS-slate;
        margin-bottom: 4px;
        @include tablet {
            font-size: 12px;
        }
    }
    &--tag {
        padding: 0px 8px;
        height: 24px;
        border-radius: 20px; 
        text-transform: uppercase; 
        display: inline-flex;
        align-items: center;
        width: auto;
        background-clip: padding-box;
        
        &.tag--in-stock {
          background-color: rgba(21, 132, 99, 0.07); 
          color: $IS-green; 
        }
      
        &.tag--out-of-stock {
          background-color: rgba(201, 69, 21, 0.07); 
          color: $IS-red; 
        }
    }
    
}

